<section
  class="hero"
  id="Introduction"
  aria-labelledby="hero-title"
>
  <div class="inner">
    <div class="copy">
      <h1 id="hero-title">Faculdade Filos</h1>

      <h2 class="lead">
        Ensino de qualidade para o seu futuro!
      </h2>

      <div class="actions">
        <a
          routerLink="/admissions"
          class="ctaPrimary"
        >
          Vem ser Filos
        </a>
      </div>
    </div>

    <div class="media">
        <img
        [ngSrc]="imageSrc"
        width="560"
        height="420"
        priority
        alt="Campus da Faculdade Filos"
        class="image"
        />

    </div>
  </div>
</section>
