:root {
  --brand: #092662;
  --brand-700: #3b5684;
  --brand-900: #1f345f;

  --bg: #ffffff;
  --text: #1e293b;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
